*{
    margin: 0;
    padding: 0;
    border: 0;
}

/*Cabeçalho*/
body{
    background-color: #e3ebef;
}

header{    
    background-color: #293b5d;    
    color: white;
    width: 99vw;
    height: 10vh;
}

#Side_Bar{
    width: 75%;
    height: 100%;
    margin: auto;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Logo_Side_Bar img{
    width: 120px;
}

#Side_Bar_Menu{
    display: flex;
}

.Ancor_Side_Bar{
    font-size: 18px;
    display: flex;
    margin: 20px;
}

.Ancor_Side_Bar a{
    color: white;
    text-decoration: none;
}
/*Cabeçalho*/

/*Corpo*/
main{    
    display: inline;
}

#Block_Home{   
    display: flex;
}

#container{
    width: 99vw;
    height: 90vh;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

#Background_1{
    position: absolute;
    top: 2%;
    left: 10%;
    transform: rotate(90deg)
}

#Background_1 img{
    width: 400px;

}

#Background_2{
    position: absolute;
    top: 30%;
    right: 5%;
    transform: rotate(270deg)
}

#Background_2 img{
    width: 400px;

}

#Info{
    width: 45%;
    position: absolute;
    top: 50%;
    left: 49%;
}

#Img_Perfil{
    position: absolute;
    left: 20%;
    top: 16.1%;
}

#Img_Perfil img{
    width: 360px;
}

#Block_Sobre{
    width: 99vw;
    height: 100vh;
}

#Instituicao{
    width: 80%;
    height: 25%;
    display: flex;
    align-items: center;
    position: relative;
    top: 5%;
    left: 10%;
}

#ImgEstacio img{
    width: 400px;
}

#Formacoes{
    width: 80%;
    height: 25%;
    display: flex;
    align-items: center;
    position: relative;
    top: 12%;
    left: 10%;
}

#ImgFormatura img{
    width: 300px;
}

#Interesses{
    width: 80%;
    height: 25%;
    display: flex;    
    align-items: center;
    position: relative;    
    top: 19%;
    left: 10%;
}

#ImgInteresses img{
    width: 200px;
}

#Block_Certificados{
    width: 99vw;
    height: 100vh;
    display: flex;
}

.boxTeste button{
    width: 100px;
    height: 30px;
}

#imgEstacioDiploma img{
    width: 300px;
}


/*Fundo modal*/

#myBtn{
    border-radius: 10px;
    color: white;
    background-color: #293b5d;
}
.modal {
    position: fixed; 
    top: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0,0,0,0.4); 
  }
  
/* Modal  */
.modal-content {    
    position: relative;
    top: 9%;
    width: 60%;
    height: auto;
    margin: auto;
    padding: 20px;     
    border-radius: 20px;  
    background-color: #fefefee0;
  }

#imgDiplomaEstacio{    
    padding: 15px;
}

#imgDiplomaEstacio img{
    display: block;
    margin-left: auto;
    margin-right: auto ;
    width: 650px;
}

#textDiplomaEstacio{
    font-size: 20px;
}
  
#Block_Projetos{
    width: 99vw;
    height: 100vh;
    display: flex;
    background-color: bisque;
}

#Block_Skills{
    width: 99vw;
    height: 100vh;
    display: flex;
    background-color: aquamarine;
}



/*Corpo*/ 